body {
    display: flex;
    flex-direction: column;
    background-color : grey;
}   

h1 {
    text-align: center;
    color: white;
}

main{
    margin: auto;
}

.game {
    align-self: center;
}
